/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#header{
  width:100vw;
  height: 50px;
  background-color: rgb(151, 141, 160);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
#logo-name{
  color:aliceblue;
  text-shadow: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size :30px;
}

#right-header{
  width:400px;
  display: flex;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

#sign-up{
  height:30px;
  font-size: 15px;
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  
}
#footer{
  color: antiquewhite;
  width:100vw;
  height: 250px;
  background-color: rgb(151, 141, 160);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



#main-home-page{
  display: flex;
  justify-content: center;
  height: 800px;
}

body{
  background-color: rgb(196, 216, 255);
  height:100vh;
}
#create-form{
  display: flex;
  justify-content: space-around;
  

}
#main-home-page{
  align-items: center;
}
.create-form-column{

}
#form-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: rgba(151, 141, 160, 0.686);
  width:88vw;
  border-radius: 5px;
}

.create-form-label{
  color: aliceblue;
  font-family: 'Gill Sancs', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.create-form-input{
  height:30px;
  font-size: 15px;
  width:25vw;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.242);
  color : white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
