/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#header{
  width:100vw;
  height: 50px;
  background-color: rgb(151, 141, 160);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
#logo-name{
  color:aliceblue;
  text-shadow: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size :30px;
}

#right-header{
  width:300px;
  display: flex;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

#sign-up{
  align-content: center;
  height:40px;
  font-size: 20px;
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#footer{
  color: antiquewhite;
  width:100vw;
  height: 250px;
  background-color: rgb(151, 141, 160);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#search {
  margin-top: 100px;
  height:30px;
  font-size: 15px;
  width:75vw;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.242);
  color : white;
}

#main-home-page{
  display: flex;
  justify-content: center;
  height: 800px;
}

body{
  background-color: rgb(196, 216, 255);

}
#main-home-page{
  align-items: center;
}
