@using Microsoft.AspNetCore.Identity
@using ScrewItBackEnd.Entities
@using System.Security.Claims
@model User 
@inject UserManager<User> _UserManager;

<style>
    .product-details-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #fdfdfd;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#details{
    display: flex;
    justify-content: space-evenly;
}
.product-info p {
    font-size: 18px;
    margin: 15px 0;
    color: #555;
}
#image{
    width:200px;
    height:200px;
    using Microsoft.AspNetCore.Identity;
    border-radius: 5px;
    using Microsoft.Extensions.Azure;
}
.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
</style>

@{
    ViewData["Title"] = "Product Details";
}

<div class="product-details-container">
    <h2>@Model.UserName</h2>
    <div id="details">
        <img id="image" src="@Model.PictureUrl" />
        <div class="product-info">
            <p><strong>Email:</strong> @Model.Email</p>
            <a asp-action="Logout"  class="btn btn-secondary mt-3">Log Out</a>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Product" class="btn btn-secondary mt-3">Back to Products</a>
</div> 