

    <div id = "main-home-page">
        <div id = "form-create">
            <div id = "create-form" >
                <div id = "create-form-column">
                    <h1 class = "create-form-label">Product's name</h1>
                    <input class = "create-form-input" placeholder="Enter your product's Name">
                    </input>
                </div>
                <div id = "create-form-column">
                    <h1 class = "create-form-label">Product's Price</h1>
                    <input class = "create-form-input" placeholder="Enter your product's Price">
                    </input>
                </div>
                <div id = "create-form-column">
                    <h1 class = "create-form-label">Product's Desription</h1>
                    <input class = "create-form-input" placeholder="Enter your product's Desription">
                    </input>
                </div>
            </div>
            <button >Create</button>
        </div>
    </div>

    